[submodule ".dotbot"]
  ignore = dirty
	path = .dotbot
	url = https://github.com/anishathalye/dotbot
[submodule ".dotbot-omnipkg"]
	path = .dotbot-omnipkg
	url = https://github.com/code-maniac/dotbot-omnipkg
